* {
    text-align: center;
    font-family: 'Montserrat', sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    /* background-color: white; */
    background-image: radial-gradient(circle, white,white,red 200%);
}

main {
    position: fixed;
    top: 20%;
    left: 20%;
    margin-right: 20%;
}

main h1 {
    font-size: 4vw;
}

main p {
    font-size: 1vw;
}

#question-box {
    padding: 10px;
}

button {
    font-size: 1vw;
    color: white;
    background-color: navy;
    border-radius: 10px;
    min-width: 50px;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

button:hover {
    filter: brightness(150%);
}

.choice-button {
    display: block;
}

.final-menu {
    display: none;
}

#high-scores {
    position: fixed;
    top: 1%;
    left: 1%;
}

#ordered-scores-list {
    display: none;
    border-radius: 10px;
    background: lightskyblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: solid blue;
}
ol li {
    font-size: 0.8vw;
    border-radius: 10px;
    background: rgb(100, 100, 251);
    border: solid rgb(3, 3, 211);
    padding: 10px;
    margin: 2px;
  }

ol li:nth-child(odd) { 
    background:navy; 
    border: solid rgb(70, 70, 255);
    color: white;
}

ol li:first-child { 
    background:rgb(0, 0, 95);
    margin-bottom: 5px;
    border: solid blue;
    font-size: 0.9vw;
}

ol li:first-child:after { 
    content: "💪";
}

ol li:hover {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 1.1vw; 
    filter: brightness(150%);
}


#view-scores:hover {
  color: blue;  
}

#initials-form {
    font-size: 1vw;
    display: none;
}

#score {
    position: fixed;
    top: 1%;
    right: 1%;
}

#response {
    position: relative;
    text-align: left;
    font-style: italic;
    font-size: 1vw;
}