* {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    /* background-color: white; */
    background-image: radial-gradient(circle, white,white,red 200%);
}

main {
    position: fixed;
    top: 20%;
    left: 20%;
    margin-right: 20%;
}

main h1 {
    font-size: 4vw;
}

main p {
    font-size: 22px;
}

#question-box {
    padding: 10px;
}

button {
    font-size: 22px;
    color: white;
    background-color: navy;
    border-radius: 10px;
    min-width: 50px;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

button:hover {
    filter: brightness(150%);
}

.choice-button {
    display: block;
}

#high-scores {
    position: fixed;
    top: 1%;
    left: 1%;
}

#view-scores:hover {
  color: blue;  
}

#initials-form {
    font-size: 20px;
    display: none;
}

#score {
    position: fixed;
    top: 1%;
    right: 1%;
}

#response {
    position: relative;
    text-align: left;
    font-style: italic;
    font-size: 20px;
}